<!doctype html>
<html>
  <head>
    <title>About us</title>
  </head>
  <body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/about us.css' %}">

    <h1>About Us</h1>
    <p style="font-size: 18px;"><strong>VISION :</strong> "To be center of excellence in providing Core and Dream Jobs"</p>
    <p style="font-size: 18px;"><strong>MISSION:</strong>"To address the emerging needs in industry through quality and effecient jobs for every single student" </p>
    <p style="font-size: 18px;"><strong>"PLACEMENT CELL,</strong> has been establised in the year 2023, esteemed as the premier placement potral of India ,establised by group of 
      students-Akash Pingali, Kalyan Bathula and Srihan Reddy, with an objective to facilitate top class placements to the younger generation 
      to achieve their goals, contribute towards economical growth of the country.
    </p>
    <div class="diffSection" id="team_section">
      <center><p style="font-size: 40px; font-style: italic; padding-top: 10px;">The Team</p></center>
      <div class="totalcard">
        <div class="card">
          <center><img src="{% static 'photos/akash.png' %}">
            </center>
          <center><div class="card-title">Akash Pingali</div>
          <div id="detail">
            <p>"Good Life Begins With A Good Company</p>
            <br>
            <a href="https://www.linkedin.com/in/akash-pingali-b05537234" target="_blank"><button class="btn-akash">Follow +</button></a>
          </div>
          </center>
        </div>
        <div class="card">
          <center><img src="{% static 'photos/kalyan.jpg' %}"></center>
          <center><div class="card-title">Kalyan Bathula</div>
          <div id="detail">
            <p>"We Make Things Happen One Job Offer At A Time"</p>
            <br>
            <a href="https://instagram.com/kalyanbathula4?igshid=MzRlODBiNWFlZA==" target="_blank"><button class="btn-kalyan">Follow +</button></a>
          </div>
          </center>
        </div>
        <div class="card">
          <center><img src="{% static 'photos/srihan - Copy.png' %}"></center>
          <center>
            <div class="card-title">Srihan Reddy</div>
            <div id="detail"><p>"Don’t Quit Dreaming, Keep On Believing You’ll Get Hired"</p><br>
              <a href="https://instagram.com/srihan_pasham?igshid=MzRlODBiNWFlZA==" target="_blank"><button class="btn-srihan">Follow +</button></a>
            </div>
          </center>
        </div>
      </div>
    </div>
  </body>
</html>